body {
  background: #333;
  display:grid;
  justify-content: center;
  padding-top: 40px;
  min-height: 100vh;
}

.app {
  text-align: center;
}

.grid {
  display: grid;
  grid: repeat(4, 120px)/repeat(4,120px);
  background-size: 480px;
  background-repeat:no-repeat;
  margin:40px 20px;
}

.cell {
  background-size: 480px;
  background-repeat:no-repeat;
  border: 1px solid #fff6;
  cursor: pointer;
  transition:
    background-image 200ms ease-out,
    border 1000ms ease-out;
}

.cell:hover {
  filter:brightness(1.5);
}

.end .cell {
  border: none;
  cursor: default;
}

.end .cell:hover {
  filter: none;
}

.cell.even {
  background-image: url('./assets/images/even.png');
}

.cell.odd {
  background-image: url('./assets/images/odd.png');
}

.congrat {
  color: #16cd0f;
}

.howto {
  color: #cdb90f;
}